body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background: #111;
  color: white;
}

.App {
  display: grid;
  place-items: center;
  margin-top: 20vh;
  /* height: 100vh; */
}
h1 {
  margin: 0;
}

button {
  display: block;
}